<%= form_for([@user, @user.artists.build]) do |f| %>
  <span>
    
    <%= f.text_field :artist, placeholder: "Artist" %>
    <%= button_tag( :class => "addartist") do %>
      <i class="fa fa-plus-square fa-1x"></i>
    <% end %>
  </span>

<% end %> 