<% if current_user %>

  <div class="row">

    <div class="small-6 large-centered columns middle">
      <ul class="nav nav-pills nav-stacked">
      <% @links.each do |link| %>
        <div class="breakers">
          <li><a href="<%= link.uri %>" class="<%= link.has_relevant_icon %>"><%= link.name %></a><span class="editButton">&nbsp;&nbsp;
            <!-- edit button here -->
        </div>
      <% end %>
      </ul>

    </div>
    
    
  </div>

  <%= raw @videos.videos.first.embed_html %>
 
 
  
<% else %> 

  <div class="row">
    <div class="small-6 large-centered columns middle">
      Hello, nothing to see here.
    </div>
  </div>


<% end %>



