<div class="row">

  <div class="small-6 large-centered columns middle">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#" class="button radius"><i class="fa fa-github-square fa-2x"></i>Github</a></li>
      <li><a href="#" class="button radius"><i class="fa fa-google-plus fa-2x"></i>Google+</a></li>
      <li><a href="#" class="button radius"><i class="fa fa-youtube fa-2x"></i>Youtube</a></li>
      <li><a href="#" class="button radius"><i class="fa fa-facebook-square fa-2x"></i>Facebook</a></li>
      <li><a href="#" class="button radius"><i class="fa fa-linkedin-square fa-2x"></i>LinkedIn</a></li>
      <li><a href="#" class="button radius"><i class="fa fa-twitter-square fa-2x"></i>Twitter</a></li>
    </ul>
  </div>

</div>


  <span>
    <div class="welcome">Welcome Michael, </div>
    
  </span>
