// Place all the styles related to the myhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  color:#F78D3F;
}

div.breakers {
  padding-top: 10px;
}

li {
  list-style:none;
}

a i.headerCog {
  color:#FFFFFF;
}

a.button {
  width:200px;
  text-align:left;
  height:50px;
}

body {
  background: white;
  overflow: hidden;
  background-image: image-url("beach.jpg");
}

div.small-6.large-centered.columns.sign_in {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: inset none;
}

// body div#dots {
//   // background-image: image-url("dot.png");
//   width: 100%;
//   height: 100%;
//   display: block;
//   position: fixed;
//   z-index: 9996;
//   top: 0;
//   left: 0;
// }

// div.middle {
//   margin-top:10px;
// }

// div.center {
//   font-size:5px;
//   color:black;
// }

button.addartist {
  background-color:transparent;
  display:inline-block;
  padding:0;
}

input#artist_artist {
  display:inline-block;
  width:94%;
}

// #header {
//   height:119px;
//   width:100%;
//   position:fixed;
//   // background:#000000;
//   display:block;
//   // margin-bottom: 10px;
//   background:black;
//   opacity:0.8;
//   z-index: 9999;
//   background: image-url("header_bkg.png");
// }

// div.header_content {
//   // background:black;
//   width:960px;
//   height:90px;
//   position:relative;
//   margin:0 auto;
// }

// div.float-left {
//   float: left;
//   width: 400px;
//   // background:black;
//   text-align: left;
//   color:white;
// }

// li.initials {
//   font-size: 40px;
// }

// div.float-right {
//   float: right;
//   width: 400px;
//   // background: black;
//   text-align: left;
//   color:white;
// }

// div.center {
//   display: inline-block;
//   color:white;
// }


// I commented out the below changing back to foundations header
nav ul {
  // padding-top:40px;
}

nav.top-bar {

}

button.show-video {
  font-size:10px;
}

// commented out below
body div.content_wrapper {
  // padding-top:119px;
}

div.columns {
  background: white;
  opacity:0.9;
  padding-top:10px;
  border-style:solid;
  border-width:1px;
  border-color:black;
  // -moz-box-shadow: inset -5px -5px black;
  // -webkit-box-shadow: inset -5px -5px black;
  // box-shadow: inset -5px -5px black;
  height:500px;
  // background:
  // linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  // linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  // linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  // linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  // linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  // linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  // background-color: #131313;
  // background-size: 20px 20px;
}

div.row {
  margin-top:10px;
}

div.small-6.large-4.columns div.colour_bar {
  background-color:#244776;
  width:100%;
  height:15px;
  display:block;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
}

span.ruby {
  background-color:#701516;
  height:15px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

span.javascript {
  background-color:#f15501;
  height:15px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

span.css {
  background-color:#1f085e;
  height:15px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

span.nil {
  background-color:#008cba;
  height:15px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

div.javascript_box {
  height:5px;
  width:5px;
  background:#f15501;
  display:inline-block;
}

div.color_scheme {
  display:block;
}

span.key {
  font-size:10px;
}

div.nil_box {
  height:5px;
  width:5px;
  background:#008cba;
  display:inline-block;
}

div.ruby_box {
  height:5px;
  width:5px;
  background:#701516;
  display:inline-block;
}
div.css_box {
  height:5px;
  width:5px;
  background:#1f085e;
  display:inline-block;
}

#repos {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

ul li {
    font-weight: bold;
    font-size: 18px;
    color: #0596FF;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    padding-left: 5px;
}

ul li a {
    color: #0596FF;
    text-decoration: none;
}

ul li a:visited {
    font-weight: bold;
    font-size: 16px;
    color: #0596FF;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}
