// Place all the styles related to the myhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  color:#F78D3F;
}

div.row {
  margin-top:1%;
}

div.breakers {
  padding-top: 10px;
}

li {
  list-style:none;
}

a i.headerCog {
  color:#FFFFFF;
}

a.button {
  width:200px;
  text-align:left;
  height:50px;
}

body {
  margin: 0px;
  background: #FFFFFF;
  overflow: hidden;
}

div.middle {
  margin-top:10px;
}

button.addartist {
  background-color:transparent;
  display:inline-block;
  padding:0;
}

input#artist_artist {
  display:inline-block;
  width:94%;
}

header {
  color:#FFFFFF;
}

button.show-comments {
  font-size:10px;
}
